@import './Colors.scss';

.CoinBox-wrapper{
    // border: 2px solid red;
    width: 20%;
    margin: 1em;
    height: 80%;
    background: $white;
    border-radius: 6px;
    display: flex;
    padding: .6em 1em;
}