@import './Colors.scss';

.Home-wrapper{
    // border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .Home-left{
        // border: 2px solid red;
        width: 60%;
        border-radius: 6px;
        background: $white;
        display: flex;
        padding: 2em;
        flex-direction: column;
        justify-content: space-between;
        .Home-l-boxes{
            // border: 2px solid red;
            height: 40%;
            h2{
                height: 15%;
                color: $black;
            }
            .Home-l-container-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // border: 2px solid red;
                padding: 1em 0;
                height: 80%;
                .Home-l-box{
                    background: $background-light;
                    width: 160px;
                    height: 80%;
                }
            }
        }
        .Home-l-container-news{
            border: 2px solid red;
            height: 50%;
            h2{
                height: 15%;
                color: $black;
            }
        }
    }
    .Home-right{
        // border: 2px solid red;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $black;
        border-radius: 6px;
        padding: 2em;
        color: $white;
        flex-direction: column;
        .Home-r-portfolio-value{
            display: flex;
            align-items: center;
            // border: 2px solid red;
            flex-direction: column;
            p{
                font-size: 1.2em;
                margin-bottom: .8em;
            }
            h4{
                font-size: 2.5em;
            }
        }
        .Home-r-portfolio-coins{
            // border: 2px solid red;
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .Home-r-high{
                background: $green;
                height: 45%;
                border-radius: 6px;
                padding: .8em;
                position: relative;
                div{
                    display: flex;
                    p{
                        color: $white;
                        font-size: 2em;
                    }
                    span{
                        background: $white;
                        color: $green;
                        display: flex;
                        font-weight: 800;
                        align-items: center;
                        padding: 0 .6em;
                        border-radius: 6px;
                    }
                }
                h4{
                    font-size: 2.2em;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: .2em;
                }
            }
            .Home-r-low{
                background: $red;
                height: 45%;
                border-radius: 6px;
                padding: .8em;
                position: relative;
                div{
                    display: flex;
                    p{
                        color: $white;
                        font-size: 2em;
                    }
                    span{
                        background: $white;
                        color: $red;
                        font-weight: 800;
                        display: flex;
                        align-items: center;
                        padding: 0 .6em;
                        border-radius: 6px;
                    }
                }
                h4{
                    font-size: 2.2em;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: .2em;
                }
            }
        }
    }
}

.Home-r-portfolio-coinname{
    margin-right: .6em;
}