@import './Colors.scss';

.ListCoins-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .ListCoins-top{
        // border: 2px solid red;
        display: flex;
        width: 100%;
        height: 36%;
        overflow: scroll;
    }
    .ListCoins-bottom{
        background: $white;
        display: flex;
        width: 100%;
        height: 60%;
        overflow: scroll;
        border-radius: 6px;
    }
}