@import './Colors.scss';

.Menu-wrapper{
    // border: 2px solid red;
    flex: .08;
    background: $blue;
    .Menu-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // border: 2px solid white;
        padding: 3em 0;
        .Menu-logo{
            // border: 2px solid red;
            color: $white;
            font-size: 2em;
            letter-spacing: 4px;
            font-weight: 800;
        }
        .Menu-options{
            // border: 2px solid red;
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                // border: 2px solid red;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1em 0;
                border-right: 3px solid transparent;
                &:hover{
                    border-right: 3px solid $red;
                    cursor: pointer;
                }
                svg{
                    font-size: 2em;
                    // border: 2px solid red;
                    color: $white;
                    flex: 1;
                    text-align: center;
                }
            }
        }
    }
}